In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("C:\Downloads/data.csv")

FileNotFoundError: [Errno 2] File C:\Downloads/data.csv does not exist: 'C:\\Downloads/data.csv'

In [5]:
df=pd.read_csv("C:\Downloads/data.csv")

FileNotFoundError: [Errno 2] File C:\Downloads/data.csv does not exist: 'C:\\Downloads/data.csv'

In [6]:
df=pd.read_csv("C:\Downloads\data.csv")

FileNotFoundError: [Errno 2] File C:\Downloads\data.csv does not exist: 'C:\\Downloads\\data.csv'

In [7]:
df=pd.read_csv("data.csv")

FileNotFoundError: [Errno 2] File data.csv does not exist: 'data.csv'

In [8]:
df=pd.read_csv("contacts.csv")

In [9]:
df=pd.read_csv("C:\Downloads\contacts.csv")

In [10]:
df.head()

,Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,...,Phone 2 - Value,Address 1 - Type,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address
0,+918178119794,+918178119794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,+918383074922,+918383074922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,+9189209917881,+9189209917881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaj Tak,Aaj,NaN,Tak,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aanchu,Aanchu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df=pd.read_excel("C:\Downloads\data.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Downloads\\data.xlsx'

In [12]:
df=pd.read_excel("contacts.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'contacts.xlsx'

In [13]:
df=pd.read_csv("contacts.csv")

In [14]:
df.shape()

TypeError: 'tuple' object is not callable

In [15]:
df.shape

(227, 42)

In [16]:
df.head

<bound method NDFrame.head of                Name      Given Name Additional Name Family Name  Yomi Name  \
0     +918178119794   +918178119794             NaN         NaN        NaN
1     +918383074922   +918383074922             NaN         NaN        NaN
2    +9189209917881  +9189209917881             NaN         NaN        NaN
3           Aaj Tak             Aaj             NaN         Tak        NaN
4            Aanchu          Aanchu             NaN         NaN        NaN
..              ...             ...             ...         ...        ...
222   Vimal Suncity           Vimal             NaN     Suncity        NaN
223  Vishal Lucifer          Vishal             NaN     Lucifer        NaN
224   Vodafone Care        Vodafone             NaN        Care        NaN
225           Zamin           Zamin             NaN         NaN        NaN
226         Zeeshan         Zeeshan             NaN         NaN        NaN

     Given Name Yomi  Additional Name Yomi  Family Name Yomi Name Prefix  \
0                NaN                   NaN               NaN         NaN
1                NaN                   NaN               NaN         NaN
2                NaN                   NaN               NaN         NaN
3                NaN                   NaN               NaN         NaN
4                NaN                   NaN               NaN         NaN
..               ...                   ...               ...         ...
222              NaN                   NaN               NaN         NaN
223              NaN                   NaN               NaN         NaN
224              NaN                   NaN               NaN         NaN
225              NaN                   NaN               NaN         NaN
226              NaN                   NaN               NaN         NaN

     Name Suffix  ...  Phone 2 - Value  Address 1 - Type  \
0            NaN  ...              NaN               NaN
1            NaN  ...              NaN               NaN
2            NaN  ...              NaN               NaN
3            NaN  ...              NaN               NaN
4            NaN  ...              NaN               NaN
..           ...  ...              ...               ...
222          NaN  ...              NaN               NaN
223          NaN  ...              NaN               NaN
224          NaN  ...              NaN               NaN
225          NaN  ...              NaN               NaN
226          NaN  ...              NaN               NaN

     Address 1 - Formatted  Address 1 - Street  Address 1 - City  \
0                      NaN                 NaN               NaN
1                      NaN                 NaN               NaN
2                      NaN                 NaN               NaN
3                      NaN                 NaN               NaN
4                      NaN                 NaN               NaN
..                     ...                 ...               ...
222                    NaN                 NaN               NaN
223                    NaN                 NaN               NaN
224                    NaN                 NaN               NaN
225                    NaN                 NaN               NaN
226                    NaN                 NaN               NaN

     Address 1 - PO Box  Address 1 - Region  Address 1 - Postal Code  \
0                   NaN                 NaN                      NaN
1                   NaN                 NaN                      NaN
2                   NaN                 NaN                      NaN
3                   NaN                 NaN                      NaN
4                   NaN                 NaN                      NaN
..                  ...                 ...                      ...
222                 NaN                 NaN                      NaN
223                 NaN                 NaN                      NaN
224                 NaN                 NaN                      NaN
225                 NaN                 NaN                      NaN
226                 NaN                 NaN                      NaN

     Address 1 - Country  Address 1 - Extended Address
0                    NaN                           NaN
1                    NaN                           NaN
2                    NaN                           NaN
3                    NaN                           NaN
4                    NaN                           NaN
..                   ...                           ...
222                  NaN                           NaN
223                  NaN                           NaN
224                  NaN                           NaN
225                  NaN                           NaN
226                  NaN                           NaN

[227 rows x 42 columns]>

In [17]:
df.head()

,Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,...,Phone 2 - Value,Address 1 - Type,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address
0,+918178119794,+918178119794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,+918383074922,+918383074922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,+9189209917881,+9189209917881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaj Tak,Aaj,NaN,Tak,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aanchu,Aanchu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.tail(
)

,Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,...,Phone 2 - Value,Address 1 - Type,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address
222,Vimal Suncity,Vimal,NaN,Suncity,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,Vishal Lucifer,Vishal,NaN,Lucifer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,Vodafone Care,Vodafone,NaN,Care,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Zamin,Zamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,Zeeshan,Zeeshan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.tail

<bound method NDFrame.tail of                Name      Given Name Additional Name Family Name  Yomi Name  \
0     +918178119794   +918178119794             NaN         NaN        NaN
1     +918383074922   +918383074922             NaN         NaN        NaN
2    +9189209917881  +9189209917881             NaN         NaN        NaN
3           Aaj Tak             Aaj             NaN         Tak        NaN
4            Aanchu          Aanchu             NaN         NaN        NaN
..              ...             ...             ...         ...        ...
222   Vimal Suncity           Vimal             NaN     Suncity        NaN
223  Vishal Lucifer          Vishal             NaN     Lucifer        NaN
224   Vodafone Care        Vodafone             NaN        Care        NaN
225           Zamin           Zamin             NaN         NaN        NaN
226         Zeeshan         Zeeshan             NaN         NaN        NaN

     Given Name Yomi  Additional Name Yomi  Family Name Yomi Name Prefix  \
0                NaN                   NaN               NaN         NaN
1                NaN                   NaN               NaN         NaN
2                NaN                   NaN               NaN         NaN
3                NaN                   NaN               NaN         NaN
4                NaN                   NaN               NaN         NaN
..               ...                   ...               ...         ...
222              NaN                   NaN               NaN         NaN
223              NaN                   NaN               NaN         NaN
224              NaN                   NaN               NaN         NaN
225              NaN                   NaN               NaN         NaN
226              NaN                   NaN               NaN         NaN

     Name Suffix  ...  Phone 2 - Value  Address 1 - Type  \
0            NaN  ...              NaN               NaN
1            NaN  ...              NaN               NaN
2            NaN  ...              NaN               NaN
3            NaN  ...              NaN               NaN
4            NaN  ...              NaN               NaN
..           ...  ...              ...               ...
222          NaN  ...              NaN               NaN
223          NaN  ...              NaN               NaN
224          NaN  ...              NaN               NaN
225          NaN  ...              NaN               NaN
226          NaN  ...              NaN               NaN

     Address 1 - Formatted  Address 1 - Street  Address 1 - City  \
0                      NaN                 NaN               NaN
1                      NaN                 NaN               NaN
2                      NaN                 NaN               NaN
3                      NaN                 NaN               NaN
4                      NaN                 NaN               NaN
..                     ...                 ...               ...
222                    NaN                 NaN               NaN
223                    NaN                 NaN               NaN
224                    NaN                 NaN               NaN
225                    NaN                 NaN               NaN
226                    NaN                 NaN               NaN

     Address 1 - PO Box  Address 1 - Region  Address 1 - Postal Code  \
0                   NaN                 NaN                      NaN
1                   NaN                 NaN                      NaN
2                   NaN                 NaN                      NaN
3                   NaN                 NaN                      NaN
4                   NaN                 NaN                      NaN
..                  ...                 ...                      ...
222                 NaN                 NaN                      NaN
223                 NaN                 NaN                      NaN
224                 NaN                 NaN                      NaN
225                 NaN                 NaN                      NaN
226                 NaN                 NaN                      NaN

     Address 1 - Country  Address 1 - Extended Address
0                    NaN                           NaN
1                    NaN                           NaN
2                    NaN                           NaN
3                    NaN                           NaN
4                    NaN                           NaN
..                   ...                           ...
222                  NaN                           NaN
223                  NaN                           NaN
224                  NaN                           NaN
225                  NaN                           NaN
226                  NaN                           NaN

[227 rows x 42 columns]>

In [20]:
df.columns

Index(['Name', 'Given Name', 'Additional Name', 'Family Name', 'Yomi Name',
       'Given Name Yomi', 'Additional Name Yomi', 'Family Name Yomi',
       'Name Prefix', 'Name Suffix', 'Initials', 'Nickname', 'Short Name',
       'Maiden Name', 'Birthday', 'Gender', 'Location', 'Billing Information',
       'Directory Server', 'Mileage', 'Occupation', 'Hobby', 'Sensitivity',
       'Priority', 'Subject', 'Notes', 'Language', 'Photo', 'Group Membership',
       'Phone 1 - Type', 'Phone 1 - Value', 'Phone 2 - Type',
       'Phone 2 - Value', 'Address 1 - Type', 'Address 1 - Formatted',
       'Address 1 - Street', 'Address 1 - City', 'Address 1 - PO Box',
       'Address 1 - Region', 'Address 1 - Postal Code', 'Address 1 - Country',
       'Address 1 - Extended Address'],
      dtype='object')

In [21]:
    df['Name']

0       +918178119794
1       +918383074922
2      +9189209917881
3             Aaj Tak
4              Aanchu
            ...
222     Vimal Suncity
223    Vishal Lucifer
224     Vodafone Care
225             Zamin
226           Zeeshan
Name: Name, Length: 227, dtype: object

In [22]:
df[['Name','Name Prefix']]

               Name Name Prefix
0     +918178119794         NaN
1     +918383074922         NaN
2    +9189209917881         NaN
3           Aaj Tak         NaN
4            Aanchu         NaN
..              ...         ...
222   Vimal Suncity         NaN
223  Vishal Lucifer         NaN
224   Vodafone Care         NaN
225           Zamin         NaN
226         Zeeshan         NaN

[227 rows x 2 columns]

In [23]:
df.iloc[:5]

,Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,...,Phone 2 - Value,Address 1 - Type,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address
0,+918178119794,+918178119794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,+918383074922,+918383074922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,+9189209917881,+9189209917881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaj Tak,Aaj,NaN,Tak,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aanchu,Aanchu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.iloc[:,:2]

               Name      Given Name
0     +918178119794   +918178119794
1     +918383074922   +918383074922
2    +9189209917881  +9189209917881
3           Aaj Tak             Aaj
4            Aanchu          Aanchu
..              ...             ...
222   Vimal Suncity           Vimal
223  Vishal Lucifer          Vishal
224   Vodafone Care        Vodafone
225           Zamin           Zamin
226         Zeeshan         Zeeshan

[227 rows x 2 columns]